* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

._container {
    max-width: 1140px;
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.text-base {
    color: #F28123
}

.bg-base {
    background-color: #F28123;
}

.bg-gray {
    background-color: #f5f5f5
}

.bg-dark-blue {
    background-color: #051922;
}

.clearfix {
    clear: both;
}

.p-30-top {
    padding-top: 30px;
}


/* time counter */

.time-counter {
    position: relative;
    margin-bottom: 25px;
    padding-top: 15px;
}

.time-counter .time-countdown {
    position: relative;
}

.time-countdown .counter-column {
    position: relative;
    display: inline-block;
    margin: 0px 0px 5px;
    font-size: 13px;
    line-height: 1em;
    padding: 8px 20px 14px;
    text-transform: capitalize;
    text-align: center;
    border: 2px solid #F28123;
}

.time-countdown .counter-column .count {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.4em;
    padding: 0px 0px;
    color: #F28123;
    font-weight: 700;
    letter-spacing: 1px;
}


/* end */